/* div {
  height: 200px;
  width: 200px;
  background-color: cadetblue;
  border-width: 5px;
  border-style: dotted;
  border-color: brown;
  border: 2px double red;
} */

#outer {
  height: 350px;
  width: 130px;
  border: 2px solid black;
  align-items: center;
  position: relative;
}

.inner {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 50px;
  margin: 10px;
}
h2 {
  display: inline;
}
span {
  /* display: block; */
  border: 2px solid black;
  background-color: lightcoral;
}

.new-div {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  margin: auto;
  margin-bottom: 2px;
  background-color: palegreen;
  /* display: inline-block; */
  /* display: inline; */
}

h1 {
  border: 1px solid black;
  border-left: 50%;
  /* width: 50%; */
  text-align: center;
}
